<div class="ms-3">
  <div class="title-list mt-2">
    <div class="flex">
      <div class="me-auto">
        <span class="title-font">Tambah Job</span>
      </div>
      <button mat-icon-button class="button-close" (click)="closeTambahJob()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="ms-2 me-2">
    <form (ngSubmit)="saveJob()" [formGroup]="form">
      <!-- ! Kode Pekerjaan -->
      <div class="row centerAll mt-3">
        <h4 for="bank" class="col-3">Kode Pekerjaan</h4>
        <label class="col-1">:</label>
        <div class="col">
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="codeJob"
              maxlength="3"
              oninput="this.value = this.value.toUpperCase()"
            />
            <mat-hint>
              Maksimal 3 karakter ! HARUSNYA BISA 4
              <!-- {{ form.controls.codeJob.value.length }}/3 characters -->
            </mat-hint>
            <mat-error *ngIf="form.controls.codeJob.hasError('required')"
              >Harus diisi !
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- ! Kode Perusahaan -->
      <div class="row centerAll">
        <h4 for="bank" class="col-3" required>Kode Perusahaan</h4>
        <label class="col-1">:</label>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-select
              placeholder="--SILAHKAN PILIH--"
              formControlName="codeCompany"
            >
              <mat-select-filter
                [displayMember]="'kode_perus_disp'"
                [array]="dataKodePerusahaan"
                (filteredReturn)="filteredKodePerusahaan = $event"
              >
              </mat-select-filter>
              <mat-option
                *ngFor="let option of filteredKodePerusahaan"
                [value]="option.kode_perusahaan"
              >
                {{ option.kode_perus_disp }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.codeCompany.hasError('required')"
              >Harus dipilih !
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- ! Deskripsi Pekerjaan -->
      <div class="row centerAll">
        <h4 for="bank" class="col-3" required>Deskripsi Pekerjaan</h4>
        <label class="col-1">:</label>
        <div class="col">
          <mat-form-field appearance="fill">
            <input matInput formControlName="descJob" />
            <mat-error *ngIf="form.controls.descJob.hasError('required')"
              >Harus diisi !
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- ! Job Status -->
      <div class="row centerAll mt-3 mb-3">
        <h4 for="bank" class="col-3" required>Job Status</h4>
        <label class="col-1">:</label>
        <div class="col">
          <mat-checkbox
            [color]="'primary'"
            formControlName="boxInternal"
            class="me-5"
            >Internal</mat-checkbox
          >

          <mat-checkbox [color]="'primary'" formControlName="boxExternal"
            >External</mat-checkbox
          >

          <mat-error style="font-size: 12px; color: #666666"
            ><span style="color: red">*</span>
            Please select at least one checkbox.
          </mat-error>
        </div>
      </div>

      <!-- ! Status -->
      <div class="row centerAll">
        <h4 for="bank" class="col-3" required>Status</h4>
        <label class="col-1">:</label>
        <div class="col">
          <mat-form-field appearance="fill"
            ><input matInput [(ngModel)]="status" formControlName="status"
          /></mat-form-field>
        </div>
      </div>

      <!-- ! Notes -->
      <div class="row centerAll">
        <h4 for="bank" class="col-3" required>Notes</h4>
        <label class="col-1">:</label>
        <div class="col">
          <mat-form-field appearance="fill">
            <textarea matInput formControlName="notes"></textarea>
            <mat-error *ngIf="form.controls.notes.hasError('required')"
              >Harus diisi !
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- ! Job Polling -->
      <div class="row centerAll mt-3">
        <h4 for="bank" class="col-3" required>
          Job Polling <span style="color: red">*</span>
        </h4>
        <label class="col-1">:</label>
        <div class="col">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="jobPoll"
          >
            <mat-radio-button [color]="'primary'" value="0" class="me-4"
              >Bukan Pooling</mat-radio-button
            >
            <mat-radio-button [color]="'primary'" value="1"
              >Pooling</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-1"></div>
          <div class="col">
            <mat-hint style="font-size: 12px"
              ><span style="color: red">*</span>
              <span style="font-weight: bold">POOLING</span>, maka job tersebut
              harus dimapping ke DLC di tab Employee
              <br />
              <span style="color: red">*</span>
              <span style="font-weight: bold">BUKAN POOLING</span>, maka job
              tersebut tidak harus dimapping ke DLC di tab Employee</mat-hint
            >
          </div>
        </div>
      </div>

      <div class="d-flex mt-4">
        <div class="me-auto p">
          <button
            mat-raised-button
            class="btnClear me-2"
            type="button"
            (click)="clearInput()"
          >
            Clear
          </button>
        </div>
        <div class="p">
          <button mat-raised-button class="btnSave me-2">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
