.title-list {
  position: relative;
  border-bottom: 4px solid;
  border-bottom-color: #dcdcdc;
}

.title-list span {
  display: absolute;
  font-size: 25px;
  border-bottom: 4px solid #fcbd00;
  padding-bottom: 8px;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title-font {
  font-family: Roboto;
  color: rgb(97, 97, 97);
  font-weight: 500;
}

.button-close {
  position: absolute;
  height: 45px;
  bottom: 4px;
  right: 6px;
}
